<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" parallel="tests" thread-count="2" >

    <test name="google1"  >
<!--        <parameter name="browser" value="firefox-grid"></parameter>-->
        <classes>
            <class name="com.example.mathserv2.springselenium.google.GoogleTest" />
        </classes>
    </test>

    <test name="google2" >
        <classes>
            <class name="com.example.mathserv2.springselenium.google.Google2Test"/>
        </classes>
    </test>

    <test name="google3"  >
        <!--        <parameter name="browser" value="firefox-grid"></parameter>-->
        <classes>
            <class name="com.example.mathserv2.springselenium.google.GoogleTest" />
        </classes>
    </test>

    <test name="google4" >
        <classes>
            <class name="com.example.mathserv2.springselenium.google.Google2Test"/>
        </classes>
    </test>


</suite>
